$font-size-html-base: 16px;
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1rem;

$primary: #5e72e4;
$secondary: #8392ab;
$info: #11cdef;
$success: #2dce89;
$danger: #f5365c;
$warning: #fb6340;
$black: #172b4d;

$gray-100: #f6f9fc;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #8898aa;
$gray-700: #525f7f;
$gray-800: #32325d;
$gray-900: #212529;
